1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [2]:
test1 = "This is a test of the emergency text system"
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system

In [5]:
## read the contents of test.txt
!type test.txt

This is a test of the emergency text system

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [6]:
with open('test.txt','r') as file:
    test2 = file.read()

print(test2)
print(test1==test2)

This is a test of the emergency text system
True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [9]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992 '''

with open('books.csv','w',encoding='UTF-8') as file:
    file.write(data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3
db = sqlite3.connect('books.db')
cursor=db.cursor()
cursor.execute("create table books(title text,author text,year integer)")
db.commit()
db.close()

5. Read books.csv and insert its data into the books table.

In [14]:
import sqlite3
import csv
connection=sqlite3.connect('books.db')
cursor=connection.cursor()
with open('books.csv','r') as file:
    books = csv.DictReader(file)
    for i in books:
        cursor.execute('insert into books values (?,?,?)',(i['title'],i['author'],i['year']))
connection.commit()
connection.close()

6. Select and print the title column from the books table in alphabetical order.

In [21]:
import sqlite3
connection = sqlite3.connect('books.db')
cursor= connection.cursor()
output = cursor.execute('select title from books order by title')
for i in output:
    print(i)
connection.commit()
connection.close()

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

7. From the books table, select and print all columns in the order of publication.

In [20]:
import sqlite3
connection = sqlite3.connect('books.db')
cursor=connection.cursor()
output = cursor.execute('select * from books order by year')
for i in output:
    print(i)
connection.commit()
connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [22]:
import sqlalchemy
connection = sqlalchemy.create_engine('sqlite:///books.db')
connection

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [23]:
! python -m pip install redis

Collecting redis
  Downloading redis-4.1.4-py3-none-any.whl (175 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\rohan\anaconda3\lib\site-packages (from redis) (20.9)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\rohan\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\rohan\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.4

10. Increment the count field of test and print it.

In [ ]:
connection.hincrby('test', 'count', 1)
connection.hget('test', 'count')